<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://192.168.0.213:3010/{R:0}" />
                </rule>
                           </rules>
        </rewrite>
       
    </system.webServer>
</configuration>
